
.title {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    background-color: #1B4267;
    color: white;
    font-weight: bold;
}

table {
    width: 100%;
}

table thead th {
    padding: 3px 10px;
    font-size: 14px;
    font-weight: normal;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.096)
}

table tbody td {
    font-size: 12px;
    padding: 3px 10px;
    
}

table tbody tr {
    cursor: pointer;
}
table tbody tr:hover {
    background-color: rgba(207, 207, 207, 0.2);
}
table tbody tr:active {
    background-color: rgba(207, 207, 207, 0.5);
}

