@import "../../styles/common/data-table.scss";

.last-trades {
    color: white;

    .dimmed {
        opacity: 0.5;
    }

    .bid {
        color: $color-bid;
    }

    .ask {
        color: $color-ask;
    }
}