<form class="market-form">
  <mat-form-field id="market-input">
    <input type="text" placeholder="Select market" aria-label="Number" matInput [formControl]="marketControl" [matAutocomplete]="auto">
    <button mat-button *ngIf="marketControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="marketControl.reset('')">
      <mat-icon>close</mat-icon>
    </button>

    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="marketSelected($event)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option.code }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  
  <mat-form-field id="filter-input">
    <input matInput type="text" placeholder="Filter" [formControl]="filterControl" />
    <button mat-button *ngIf="filterControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="filterControl.reset('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>

