<div class="orderbook">

  <div class="bid" #bidContainer>
    <div class="table-head" [style.width.px]="tableHeadWitdhBid">
      <div>Value</div>
      <div>Amount</div>
      <div>Bid</div>
    </div>
    <div class="table-body">
      <div class="table-row" *ngFor="let bid of orderbookBids">
        <div>{{bid.Value.toFixed(2)}}</div>
        <div>{{bid.Amount.toFixed(6)}}</div>
        <div class="color-bid">{{bid.Price.toFixed(2)}}</div>
      </div>
    </div>
  </div>
  <div class="ask" #askContainer>
    <div class="table-head" [style.width.px]="tableHeadWitdhAsk">
      <div>Ask</div>
      <div>Value</div>
      <div>Value</div>
    </div>
    <div class="table-body">
      <div class="table-row" *ngFor="let bid of orderbookAsks">
        <div class="color-ask">{{bid.Price.toFixed(2)}}</div>
        <div>{{bid.Amount.toFixed(6)}}</div>
        <div>{{bid.Value.toFixed(2)}}</div>
      </div>
    </div>
  </div>
</div>