*.suo
*.user
_ReSharper.*
bin
obj
packages
.vs
*.api.txt
*.db
Backup
_nogit
UpgradeLog.htm
*.enc
*.lnk
*.zip
*.rar
*.7z
*.DotSettings
TestResults
node_modules
bower_components
*.log

.idea
.vscode
 
exception-*.txt
audit-*.txt
Prime-arb.sln
