<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
    <div class="row">
        <form class="col s12">
            <div class="input-field col s12">
                <input (input)="onFilterChange($event.target.value)" placeholder="Provider name" id="first_name" type="text">
            </div>
        </form>
    </div>
</div>

<div class="container">

    <div class="row">
        <app-providers-list [providers]="providersDisplay"></app-providers-list>
    </div>
</div>