@import "../styles/common/defs.scss";

.app-container {
    background-color: white;
    height: 100%;
    width: 100%;
    min-width: 950px;
    display: flex;
    flex-direction: column;

    .columns-wrapper {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        margin-bottom: auto;

        .column-left {
            width: 300px;
            flex-shrink: 0;
        }
        
        .column-center {
            flex-grow: 1;
        }
        
        .column-right {
            display: none;
            width: 300px;
        
            flex-shrink: 0;
        
            background-color: burlywood;
        }
    }
}



