@import "../styles/common/defs.scss";
@import "../styles/common/data-table.scss";

$color-table-title: rgba(88, 88, 88, 0.2);

.app-container {
    background-color: $color-accent;

    .columns-wrapper {

        .column-left {
            background-color: $color-accent-lighter;

            .title {
                padding: 5px 10px;
                font-weight: bold;
                color: white;
                text-transform: uppercase;
                font-size: 0.875rem;
            }
        }
    }
}

