.app-container {
    width: 1100px;

    background-color: white;
}

.columns-wrapper {
    display: flex;
    flex-direction: row;

    border: 1px solid rgba(0, 0, 0, 0.2);
}

.column-left {
    width: 300px;
    flex-shrink: 0;
    border-right: none;

    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.column-center {
    flex-grow: 1;

    height: 600px;
}

.column-right {
    display: none;
    height: 300px;
    width: 300px;

    flex-shrink: 0;

    background-color: burlywood;
}