<div class="app-container">
  <app-navbar></app-navbar>

  <div class="columns-wrapper">
    <div class="column-left">
      <div class="title">
        Last trades
      </div>
      <div class="last-trades-wrapper">
        <app-last-trades></app-last-trades>
      </div>
    </div>
    <div class="column-center">
      <app-chart></app-chart>
      <div class="footer">
        <app-orderbook></app-orderbook>
        <app-trading-panel></app-trading-panel>
      </div>
    </div>
  </div>
</div>