@import "../styles/common/defs.scss";
@import "../styles/common/data-table.scss";

$color-table-title: rgba(88, 88, 88, 0.2);

.app-container {
    background-color: white;
    height: 100%;
    width: 100%;
    min-width: 950px;
    display: flex;
    flex-direction: column;

    .columns-wrapper {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        margin-bottom: auto;

        .column-left {
            width: 300px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: stretch;

            .title {
                padding: 5px 10px;
                font-weight: bold;
                background-color: $color-table-title;
            }

            .tickers-wrapper {
                flex-grow: 1;
                overflow-y: scroll;
            }

            .last-trades-wrapper {
                flex-grow: 1;
                overflow-y: scroll;
            }
        }
        
        .column-center {
            flex-grow: 1;
        }
        
        .column-right {
            display: none;
            width: 300px;
        
            flex-shrink: 0;
        
            background-color: burlywood;
        }
    }
}



