@import "defs.scss";

// INPUTS

.input-field {
    &>label {
        margin: 0;
    }

    margin-top: 10px;
    margin-bottom: 15px;
}

.form-control.money-input {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid white;
    width: 100%;
    height: auto;

    box-shadow: none;
    border-radius: 0px;
    border: none;
    padding: 3px 10px;

    &:focus {
        background-color: rgba(255, 255, 255, 0.2);
    }    
}

// BUTTONS

.btn.btn-place-order {
    transition: none;
    box-shadow: none;
    border: none;

    color: white;
    border-radius: 3px;
    text-transform: uppercase;

    width: 100%;

    background-color: gray;

    &.bid {
        background-color: $color-bid-dark;

        &:hover {
            background-color: #53b815;
        }

        &:active {
            background-color: #47a70c;
        }
    }

    &.sell {
        background-color: $color-ask-dark;

        &:hover {
            background-color: #e61b7b;
        }

        &:active {
            background-color: #cf166c;
        }
    }
}
