@import "../../styles/common/defs.scss";

$color-table-head: rgba(138, 138, 138, 0.2);
$color-table-title: rgba(88, 88, 88, 0.2);

.title {
    padding: 5px 10px;
    font-weight: bold;
    background-color: $color-table-title;
}

table {
    width: 100%;
    thead th {
        padding: 3px 10px;
        font-weight: normal;
        background-color: $color-table-head;
    }
    tbody {
        td {
            padding: 3px 10px;
        }

        tr {
            cursor: pointer;

            &:hover {
                background-color: rgba(207, 207, 207, 0.2);
            }

            &:active {
                background-color: rgba(207, 207, 207, 0.5);
            }
        }
    }
}

