@import "../../styles/common/defs.scss";

.title-bar {
    display: flex;
    flex-grow: 0;
    background-color: $color-accent;
}

h3 {
    flex-shrink: 0;
    color: white;
    margin: 10px 10px 8px 10px;
}

.title-bar {

    .price {
        padding-top: 12px;
        padding-left: 20px;
        font-size: 0.875rem;
        color: white;

        .label {
            opacity: 0.5;
        }
    }

    button {
        flex-shrink: 0;
        margin: 10px 10px 10px 0;
    }
}