@import "../../styles/common/defs.scss";

.title-bar {
    display: flex;
}

h2 {
    padding: 13px 20px 10px 20px;
    flex-shrink: 0;
    width: 300px;
    color: $color-accent;
}

.title-bar {
    button {
        flex-shrink: 0;
        margin: 15px 15px 15px 0;
        border-radius: 5px;
    }
}