<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Volume</th>
      <th>Last</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>BTC-USD</td>
      <td>12</td>
      <td>14234</td>
    </tr>
    <tr>
      <td>XRP-EUR</td>
      <td>1423</td>
      <td>124</td>
    </tr>
    <tr>
      <td>USDT-UAH</td>
      <td>42</td>
      <td>28</td>
    </tr>
    <tr>
      <td>USDT-UAH</td>
      <td>42</td>
      <td>28</td>
    </tr>
    <tr>
      <td>USDT-UAH</td>
      <td>42</td>
      <td>28</td>
    </tr>
    <tr>
      <td>USDT-UAH</td>
      <td>42</td>
      <td>28</td>
    </tr>
    <tr>
      <td>USDT-UAH</td>
      <td>42</td>
      <td>28</td>
    </tr>
  </tbody>
</table>